<!-- begin main page-->
<section id="main" data-role="page">
    <header data-role="header"><h1>Boutique</h1>
    <a href="#info" id="info_btn" data-role="button" data-theme="b" class="ui-btn-right">Info</a>
    </header>
    <div class="ui-grid-a">
<!--         {% if is_available %}
        <div class="ui-block-a">
            <a href="#" data-role="button" id="main_sales" data-theme="b">Sales</a>
        </div>
        {% endif %} -->
        <div class="ui-block-b">
            <a href="#" data-role="button" data-ajax="false" id="main_invoice" data-theme="b">Invoice</a>
        </div>
        <div class="ui-block-a">
            <a href="#" data-role="button" id="main_stock_imei" data-theme="b">Stock By IMEI</a>
        </div>
        <div class="ui-block-b">
            <a href="#" data-role="button" id="main_stock_product_id" data-theme="b">Stock By Product ID</a>
        </div>
        <div class="ui-block-a">
            <a href="#" data-role="button" id="main_stock_product_name" data-theme="b">Stock By Product Name</a>
        </div>
        <div class="ui-block-b">
            <a href="#" data-role="button" id="main_report" data-theme="b">Report</a>
        </div>
        <div class="ui-block-a">
            <a href="#" data-role="button" id="main_purchase_info" data-theme="b">Purchase Info</a>
        </div>
        <div class="ui-block-b">
            <a href="#" data-role="button" id="main_repair" data-theme="b">Repair</a>
        </div>
    </div>
    <footer data-role="footer"><h1></h1></footer>
</section>
<!-- end main page -->



